---
layout: default.hbs
subject: Branded transaction email example
---
<div class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="aligncenter logo">
				<a href="http://rackspacestartups.com/"><img src="../src/img/rackspace-startups-logo.png" height="30" alt="Rackspace Startups"></a>
			</td>
		</tr>
	</table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<img src="../src/img/header-startup.png"><br><br>
					<h3>Rackspace Startups at TechCrunch Disrupt</h3>
					Interviews featuring, Mark Cuban, Dr Chrono, Roost, Voteraide, Speakit.io and more!
					<br>
					<a href="https://www.youtube.com/playlist?list=PLBraLml0OYw7ESGcolxO3VY-6RtOcgumv">Techcrunch Disrupt Day  1</a>
					<br>
 					<a href="https://www.youtube.com/playlist?list=PLBraLml0OYw4vXbRx2bOFbBQ0PKwQWKkJ">TechCrunch Disrupt Day 2</a>
					<hr>

					<h3>Overwhelmed with QA and testing?<h3><img src="../src/img/side-bar-airbrake.png" style="float:right;">
					<h4>Get notified with your code bugs and errors before your users face them!<br>
					Save money, effort and time!</h4><br>
					Airbrake is the leading bug tracking tool that provides error tracking for +50,000 web and mobile developers including big companies like Zendesk, Oracle and Groupon, and support 18 programming languages including <a href="http://github.com/airbrake/airbrake-php">PHP</a>, <a href="https://github.com/airbrake/airbrake-python">Python</a>, <a href="https://github.com/airbrake/airbrake-java">Java</a>, <a href="https://github.com/airbrake/sharpbrake">.net</a> and <a href="https://github.com/airbrake/airbrake">Ruby</a>.
					<br><br>
					Receive detailed data reports that include how many times the bugs occurs. In addition to identifying the reason behind that error by pointing to the bit of code that was responsible.<br>
					<a href="https://airbrake.io/account/new/free?utm_source=newsletter&utm_medium=email&utm_campaign=startup-newsletter
">Start collecting your software errors now!</a>
					<hr>
					 
					<h3>Did you know You can use your Rackspace credits for dedicate Bare Metal Servers?</h3>
					 
					OnMetal Cloud Servers are single-tenant, bare-metal systems that you can:
					<br>
					<ul>
						<li>Provision in minutes via an OpenStack® API.</li>
						<li>Mix and match with virtual cloud servers.</li>
						<li>Pay by the minute.</li>
					</ul>
					
					You'll get the simplicity and performance of colocation, the high availability of single-tenant servers, and the agility of the cloud—all in one place.
					<hr>

					<h3>Featured Rackspace Startup</h3>

					<p><a href="http://Exabyte.io">Exabyte.io</a> is a service to build and run supercomputing simulations with no programming and systems administration required. We provide a convenient user interface and scalable compute. The former makes our service easy to start with, the latter allows for high fidelity results.</p><br>
					<p>
					Our current prototype for quantum simulations is used for materials engineering. We are working to extend our application areas into life sciences, computer aided engineering and data analytics.</p>
					<br>
					<p>Try the unlimited Beta out for Free Here:</p>
					<a href="http://exabyte.io/">http://exabyte.io/</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<td class="aligncenter">Follow <a href="http://twitter.com/Rackspace">@Rackspace</a> on Twitter.</td>
		</tr>
	</table>
</div>