---
layout: default.hbs
subject: Branded transaction email example
---
<div class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="aligncenter logo">
				<a href="http://rackspacestartups.com/"><img src="../src/img/rackspace-startups-logo.png" height="30" alt="Rackspace Startups"></a>
			</td>
		</tr>
	</table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<a href="http://rackspacestartups.com" target="_blank"><img src="../src/img/header-startup.png"> </a><br><br>
					<h3>Rackspace Startup at TechCrunch Disrupt</h3>
					Robert Scoble took over the Rackspace booth at TechCrunch Disrupt and sat down with Mark Cuban, Dr. Chrono, Roost, Voteraide and more. Check out his interviews here and get valuable insights on fundraising, building a business, and what some exciting startups are up to!
					<br>
					<a href="https://www.youtube.com/playlist?list=PLBraLml0OYw7ESGcolxO3VY-6RtOcgumv" target="_blank">Techcrunch Disrupt Day  1</a>
					<br>
 					<a href="https://www.youtube.com/playlist?list=PLBraLml0OYw4vXbRx2bOFbBQ0PKwQWKkJ" target="_blank">TechCrunch Disrupt Day 2</a>
					<hr>

					<h3>Overwhelmed with QA and testing?<h3><a href="http://airbrake.io/?utm_source=Rackspace%20startup%20newsletter&utm_medium=email&utm_campaign=Rackspace%20Startup%20Newsletter%20Nov" target="_blank"><img src="../src/img/side-bar-airbrake.png" style="float:right;"></a>
					<h4>Get notified of your code bugs and errors before your users face them!<br>
					Save money, effort and time!</h4><br>
					Airbrake is the leading bug tracking tool that provides error tracking for +50,000 web and mobile developers, including big companies like Zendesk, Oracle and Groupon, and supports 18 programming languages, including <a href="http://github.com/airbrake/airbrake-php" target="_blank">PHP</a>, <a href="https://github.com/airbrake/airbrake-python" target="_blank">Python</a>, <a href="https://github.com/airbrake/airbrake-java" target="_blank">Java</a>, <a href="https://github.com/airbrake/sharpbrake" target="_blank">.net</a> and <a href="https://github.com/airbrake/airbrake" target="_blank">Ruby</a>.
					<br><br>
					Receive detailed data reports that include the number of times the bugs occurs as well as the specific line of code responsible for the error.<br>
					<a href="http://airbrake.io/?utm_source=Rackspace%20startup%20newsletter&utm_medium=email&utm_campaign=Rackspace%20Startup%20Newsletter%20Nov
" target="_blank">Start collecting your software errors now!</a>
					<hr>
					 
					<h3>Did you know you can use your Rackspace credits for bare-metal Cloud Servers?</h3>
					 
					OnMetal Cloud Servers are single-tenant, bare-metal systems that you can:
					<br>
					<ul>
						<li>Provision in minutes via an OpenStack® API.</li>
						<li>Mix and match with virtual cloud servers.</li>
						<li>Pay by the minute.</li>
					</ul>
					
					You'll get the simplicity and performance of colocation, the high availability of single-tenant servers, and the agility of the cloud—all in one place.
					<hr>

					<h3>Featured Rackspace Startup</h3>

					<p>
						<a href="http://exabyte.io/" target="_blank"><img src="../src/img/111.png"></a><br><br>
						A message from Exabyte:<br>
						<a href="http://Exabyte.io" target="_blank">Exabyte.io</a> is a service to build and run supercomputing simulations with no programming and systems administration required. We provide a convenient user interface and scalable compute. The former makes our service easy to start with, the latter allows for high fidelity results.</p><br>
					<p>
					Our current prototype for quantum simulations is used for materials engineering. We are working to extend our application areas into life sciences, computer aided engineering and data analytics.</p>
					<br>
					<p>Try the unlimited Beta out for Free Here:</p>
					<a href="http://exabyte.io/" target="_blank">http://exabyte.io/</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<td class="aligncenter">Follow <a href="http://twitter.com/Rackspace" target="_blank">@Rackspace</a> on Twitter.</td>
		</tr>
	</table>
</div>